<div class="page-container">
  <p>Demo</p>
  <ivory-presentable
    [gridDefs]="tableConfig"
    [columnDefs]="tableColumns"
    [columnControls]="tableControls"
    [records]="tableData"
    [pagination]="tablePagination"
    [recordsPerPage]="tablePageSize"
    [recordsPerPageOptions]="tablePageSizeOptions"
    [recordSelection]="tableSelection"
    [cellEditing]="tableCellEditing"
    (recordsSelected)="onRecordsSelected($event)"
    (cellEdit)="onCellEdit($event)"
  ></ivory-presentable>
</div>
